html :where(.editor-styles-wrapper) {
    font-family: var(--wp--preset--font-family--heading);
}

.editor-styles-wrapper .is-style-outline > .block-editor-rich-text__editable.wp-block-button__link{
    background-color: transparent !important;
    color: #2A335A !important;
}
.editor-styles-wrapper .is-style-outline > .block-editor-rich-text__editable.wp-block-button__link.has-blue-900-background-color{
    border-color: var(--wp--preset--color--blue-900) !important;
}
.editor-styles-wrapper .is-style-outline > .block-editor-rich-text__editable.wp-block-button__link.has-blue-800-background-color{
    border-color: var(--wp--preset--color--blue-800) !important;
}
.editor-styles-wrapper .is-style-outline > .block-editor-rich-text__editable.wp-block-button__link.has-green-100-background-color{
    border-color: var(--wp--preset--color--green-100) !important;
}