/* Example of including a custom self-hosted font */
/* 
@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/fonts/gilroy/Gilroy-Regular.ttf");
}

...

@font-face {
  font-family: "Gilroy";
  font-weight: 700 800;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Bold';
  src: url("/fonts/gilroy/Gilroy-Bold.ttf");
}
*/

@tailwind base;

/* Apply some default styling to certain elements -- useful for HTML being dynamically brought over from WordPress */
/* @layer base {
  html {
    @apply scroll-smooth
  }
  h1 {
    @apply font-sans text-3xl leading-tight tracking-tight xs:text-4xl xs:leading-tight sm:text-5xl sm:leading-tight md:text-6xl md:leading-tightest lg:text-7xl lg:leading-tightest;
  }
  h2 {
    @apply font-sans text-3xl leading-tightest tracking-tight sm:text-4xl sm:leading-tightest md:text-5xl md:leading-tightest lg:text-6xl lg:leading-tightest;
  }
  h3 {
    @apply font-sans text-lg;
  }
  p, li {
    @apply mb-2 text-base sm:text-lg lg:text-xl 2xl:text-2xl;
  }
  a {
    @apply focus:outline-none focus:ring-0;
  }
  p > a {
    @apply text-blue-500 underline;
  }
  ol,
  ul {
    @apply mb-4;
  }
  ol {
    @apply list-decimal;
  }
  ul {
    @apply pl-5 list-disc;
  }
  ol ol,
  ol ul,
  ul ol,
  ul ul {
    @apply mb-0;
  }
  ol li,
  ul li {
    @apply pl-2
  }
  pre {
    @apply p-5 mb-4 overflow-auto;
    background: #f5f2f0;
  }
  code {
    @apply p-1 text-sm font-bold bg-gray-100 rounded-sm;
  }
  code:before,
  code:after {
    @apply text-xs font-normal;
    content: "`";
  }
  pre code {
    @apply p-0 font-normal bg-transparent;
  }
  pre code::before,
  pre code:after {
    content: none;
  }
  hr {
    @apply my-4;
  }
}
 */
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100%;
}